<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LightWeight Workout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top bg-dark">
        <img src="~/Content/Image/logo.png" width="5%" height="auto" alt="logo"><a class="navbar-brand" href="/Home/Index"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="font-size: larger; font-family: 'Eusthalia Sans Slant';font-size:20px; ">
                <li class="nav-item active">
                    <a style="color: coral" class="nav-link" href="/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a style="color: coral" class="nav-link" href="/Home/About">About</a>
                </li>
                <li class="nav-item">
                    <a style="color: coral" class="nav-link" href="/Home/Activity">Activity</a>
                </li>
                <li class="nav-item">
                    <a style="color: coral" class="nav-link" href="/Home/Coach">Coach</a>
                </li>
                <li class="nav-item">
                    <a style="color: coral" class="nav-link" href="/Home/Chat">Chatroom</a>
                </li>
                <li class="nav-item">
                    <a style="color: coral" class="nav-link" href="/Home/Review">Review</a>
                </li>
                <li class="nav-item">
                    <a style="color: coral" class="nav-link" href="/Home/Gallary">Gallary</a>
                </li>
                <li class="nav-item">
                    <a style="color: coral" class="nav-link" href="/Home/Contact">Contact</a>
                </li>
            </ul>
            <button type="submit" class="btn btn-light btn-outline-light html-editor-align-right"><a style="text-decoration:none; color: coral; font-size: 25px" href="login.html">Sign in</a></button>
        </div>
    </nav>
    <!--<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
            </button>
            <a class="navbar-brand" href="/">LightWeightWorkout</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">


                    <li class="nav-item"><a href="/Home/About" class="nav-link">About Us</a></li>
                    <li class="nav-item"><a href="/Home/About" class="nav-link">Coaches</a></li>
                    <li class="nav-item"><a href="/Home/Contact" class="nav-link">Activities</a></li>
                    <li class="nav-item"><a href="/Home/Contact" class="nav-link">Reviews</a></li>
                    <li class="nav-item"><a href="/Home/Contact" class="nav-link">Gallery</a></li>
                    <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contect Us</a></li>
                </ul>

                @if ((string)Session["Email"] == "admin@admin")
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="/Manage/Index" class="nav-link">Management</a></li>
                    </ul>

                }

                @if (Session["Username"] != null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="/Dashboard/Index" class="nav-link">Hello @Session["Username"]</a></li>
                        <li class="nav-item"><a href="/Account/Logout" class="nav-link">Log out</a></li>
                    </ul>

                }
                @if (Session["Username"] == null)
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="/Home/SignUp" id="loginLink" class="nav-link">Register</a></li>
                        <li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
                    </ul>
                }
            </div>
        </div>
    </div> 
    -->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="footer bg-dark">
                <div class="footer-contain" style="width: 95%; margin: auto; padding: 10px">
                    <div class="footer-left">
                        <p>&copy; @DateTime.Now.Year - LightWeight Workout</p>
                        <p>light-weight</p>
                        <p>workout</p>
                    </div>
                    <div class="logo" style="margin-left: 50%;margin-top: -60px; margin-bottom: 20px;">
                        <img src="~/Content/Image/logo.png" style="width: 5%" alt="logo"><a class="navbar-brand" href="text.html"></a>
                    </div>
                    <div class="footer-right float-right" style="margin-top: -80px">
                        <p>Saskatoon</p>
                        <p>SK Canada</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("Styles", required: false)
    @RenderSection("head", required: false)

</body>
</html>
